.container {
 visibility: hidden;
 align-items: center;
 position: fixed;
 top: 50px;
 left: 50%;
 transform: translate(-50%, -50%);
 background-color: #b62525f0;
 width: 300px;
 border-radius: 10px;
 height: 70px;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 1000;
}

.container p {
 color: white;
 text-align: center;
 font-size: 0.9rem;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container button {
 border-radius: 50px;
 width: 30px;
 height: 27px;
 border: none;
 position: absolute;
 right: -10px;
 top: -11px;
 background: #fd3d3d;
 color: white;
 border: 1px solid white;
 font-size: 1.1rem;
}

.container button:hover {
 cursor: pointer;
 background: #a82424;
}

.container.active {
 animation: enter 0.5s forwards;
}

@keyframes enter {
 from {
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -150%);
 }
 to {
  visibility: initial;
  opacity: 1;
  transform: translate(-50%, -50%);
 }
}
